// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.page-header {
  display: grid;
  //flex-direction: row;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: $white;
  height: calc(5em + 1vw);
  padding: var(--s-1);
  &__logo {
    img {
      height: calc(3rem + 0.5vw);
    }
  }

  &__checkbox {
    display: none;
  }

  &__btn {
    display: none;
  }

  &__nav {
    display: none;
  }
}
