// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

section {
  height: 100vh;
}

/* Hero
   --------------------------------------------------------------------------- */
.hero {
  background-color: $ice-blue;
  height: calc(100vh - calc(3rem + 0.5vw + var(--s-1)));
}

/* Intro
   --------------------------------------------------------------------------- */
.intro {
}

/* Focus
   --------------------------------------------------------------------------- */
.focus {
  height: 100vh;

  &__img {
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 30vw;

    img {
      vertical-align: middle;
      object-fit: scale-down;
      height: calc(100vh / 3);
      width: auto;
    }
  }
}

/* uhc
   --------------------------------------------------------------------------- */
.uhc {
}

/* X
   --------------------------------------------------------------------------- */

/* X
   --------------------------------------------------------------------------- */

/* X
   --------------------------------------------------------------------------- */
