// -----------------------------------------------------------------------------
// All the sections
// -----------------------------------------------------------------------------

/* Global
   --------------------------------------------------------------------------- */

// Set up the section "slides" for scrolljacking on larger screens

.slide,
section header,
section article {
  height: 100vh;
}

section {
  display: block;
  max-width: 100vw;
  position: relative;
  overflow: hidden;

  &.multi {
    height: auto;
  }

  header,
  article {
    display: flex;
    flex-direction: row;

    .col {
      width: 40%;
      margin: auto;
      padding: auto 5%;
    }

    .col-narrow {
      width: 30%;
      margin: auto 10%;
    }

    .col-wide {
      max-width: 45em;
      margin: auto 10%;
    }

    .col-full {
      max-width: auto;
      margin: auto 10%;
    }
  }
}

// Remove the slide attributes for smaller screens
@media screen and (max-width: 1000px) {
  section {
    height: auto;
    article {
      flex-direction: column;
      .col {
        width: 100%;
      }
    }
  }
}

h1 {
  font-family: "Miriam Libre";
  font-weight: 700;
  font-size: 210%;
  line-height: 1.3;
  margin: 0 0 0.25em 0;
  line-height: 1.31;
  color: $black;
}

h2 {
  font-family: "Miriam Libre";
  font-weight: 700;
  font-size: 180%;
  line-height: 1.3;
  margin: 0 0 0.5em 0;
}

p {
  font-family: "Miriam Libre";
  font-weight: 400;
  font-size: 74%;
  line-height: 1.5;
  color: $brownish-grey;
}

p.big {
  margin-top: 0;
  font-size: 95%;
  line-height: 1.3;
  color: $brownish-grey;
}

.scroll-more a {
  color: $black;
  font-family: "Permanent Marker";
  letter-spacing: 0.04em;
  font-size: 130%;
  padding-left: 2.9em;
  margin-top: 1.75em;
  display: block;
  position: relative;

  &::after {
    position: absolute;
    top: -0.35em;
    left: 0px;
    content: "";
    background-image: url(../img/scroll.svg);
    background-size: 100% 100%;
    width: 2.5em;
    height: 2.5em;
  }
}

.scroll-more-white a {
  color: $white;

  &::after {
    background-image: url(../img/scroll-white.svg);
  }
}

.arrow-link a {
  color: $black;
  font-family: "Permanent Marker";
  letter-spacing: 0.04em;
  font-size: 120%;
  margin-top: 3em;
  display: block;
  position: relative;

  span {
    background-image: url(../img/arrow-right-black.svg);
    width: 1.3em;
    height: 1.3em;
    background-size: 100% 100%;
    display: inline-block;
    margin-bottom: -0.35em;
    margin-left: 0.5em;
  }
}

/* Hero
   --------------------------------------------------------------------------- */
.hero {
  background-image: url(../img/banner-wheel.svg),
    url(../img/pattern-crosses-2.svg);
  background-repeat: no-repeat, repeat;
  background-position-x: -30vh, 0;
  background-position-y: calc(10vh + 2.625em), 0;
  background-size: 80vh, auto;
  height: 100vh;

  .col:nth-of-type(1) p {
    max-width: 30vw;
  }

  // SDG images
  &__img {
    figure {
      padding: 0;
      background-image: url(../img/arrow-curved.svg);
      background-repeat: no-repeat;
      background-size: 2em;
      background-position: 95% 2vh;
      max-width: 40vw;
      padding-left: 2.5vw;
      padding-right: 2.5em;

      figcaption {
        font-family: "Permanent Marker";
        text-align: right;
        font-size: calc(0.13em + 1.05vw);
        padding-right: 0.75em;
        letter-spacing: 0.01em;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

/* Intro
   --------------------------------------------------------------------------- */
.intro {
  .col {
    padding: 0 5%;
    h2 {
      text-transform: uppercase;
    }
  }

  &__feature {
    padding: 3.5em 0;
    text-align: center;
    line-height: 1.28;
    border-radius: 0.25em;
    position: relative;

    &::after {
      position: absolute;
      top: 50%;
      left: -3.5em;
      transform: translateY(-50%);
      content: "";
      background-size: 100% 100%;
      width: 7em;
      height: 7em;
    }
    &-1 {
      background-color: $very-light-lavender;
      color: $deep-lavender;

      &::after {
        background-image: url(../img/intro-icon-1.svg);
      }
    }

    &-2 {
      background-color: $ice;
      color: $dark-seafoam;

      &::after {
        background-image: url(../img/intro-icon-2.svg);
      }
    }

    strong {
      display: block;
      font-size: 500%;
      line-height: 1;
      margin: 0.15em 0 0.05em 0;
    }

    span {
      font-weight: bold;
      font-size: 125%;
    }
  }
}

/* Focus
   --------------------------------------------------------------------------- */
.focus {
  background-image: url(../img/pattern-crosses-2.svg);
  background-repeat: repeat;
  background-size: auto;

  &__text {
    margin: auto;
    padding: 0 7em;

    h2 {
      width: 100vw; // Force the content out of dead center
    }

    p {
      max-width: 30em;
    }

    ul {
      display: flex;
      flex-direction: row;
      margin-top: 3.5em;
      width: 40%;

      li {
        background: $white;
        border-radius: 0.25em;
        padding: 3em 1em 2em 1em;
        flex-basis: 33%;
        flex-grow: 0;
        flex-shrink: 0;
        position: relative;

        &::after {
          position: absolute;
          top: -1.5em;
          left: 50%;
          transform: translateX(-50%);
          content: "";
          background-size: 100% 100%;
          width: 4em;
          height: 4em;
        }

        p {
          font-family: "Miriam Libre";
          font-size: 66%;
          font-weight: bold;
          line-height: 1.43;
          text-align: center;
          margin: auto;
          padding: 0;
        }
      }

      li:nth-of-type(1) {
        &::after {
          background-image: url(../img/focus-tick-purple.svg);
        }
      }

      li:nth-of-type(2) {
        margin-left: 3.4em;

        &::after {
          background-image: url(../img/focus-tick-green.svg);
        }
      }

      li:nth-of-type(3) {
        margin-left: 3.4em;

        &::after {
          background-image: url(../img/focus-tick-orange.svg);
        }
      }
    }
  }

  &__img {
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 30vw;

    img {
      vertical-align: middle;
      object-fit: cover;
      height: calc(100vh / 3);
      width: 30vw;
    }
  }
}

/* uhc
   --------------------------------------------------------------------------- */
.uhc {
  .col {
    padding: 0 5%;

    h2 {
      text-transform: uppercase;
    }

    ul {
      color: $black;
      font-family: "Miriam Libre";
      margin-top: 3.5em;

      li {
        position: relative;
        padding: 3em 0 3em 8em;

        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          content: "";
          background-size: 100% 100%;
          width: 7em;
          height: 7em;
        }
      }

      li:nth-of-type(1) {
        &::before {
          background-image: url(../img/uhc-icon-1.svg);
        }
      }

      li:nth-of-type(2) {
        &::before {
          background-image: url(../img/uhc-icon-2.svg);
        }
      }

      li:nth-of-type(3) {
        &::before {
          background-image: url(../img/uhc-icon-3.svg);
        }
      }
    }
  }
}

/* SDG 17
   --------------------------------------------------------------------------- */
.sdg-17 {
  background-color: $light-slate;

  h2,
  p,
  ul {
    color: $dark-slate-blue;
  }

  //
  // Header
  //
  &__part-header {
    justify-content: flex-end;
    background: $dark-slate-blue url(../img/sdg17-icon-white.svg) no-repeat 20%
      50%;
    background-size: 25vw;

    .col {
      max-width: 30em;
      margin: auto 15vw auto 0;
      width: auto;

      h2,
      p,
      .scroll-more a {
        color: $white;
      }
    }
  }

  //
  // Part 1
  //
  &__part-1 {
    background: url(../img/sdg17-watermark-white.svg) no-repeat 70vw 50%;
    background-size: 35vw;

    p {
      font-size: 180%;
      font-weight: bold;
    }
  }

  //
  // Part 2
  //
  &__part-2 {
    flex-direction: column;
    background: url(../img/sdg17-map.svg) no-repeat center center;
    background-size: 86%;

    .col-full {
      border-top: 1px solid $white;
      padding-top: 2em;
    }
    h2 {
      max-width: 13em;
      padding-bottom: 2em;
    }

    .box-lists {
      color: $dark-slate-blue;
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      font-family: "Miriam Libre";

      &__list {
        &:nth-child(2) {
          margin: 0 2.5em;
        }

        dt {
          margin-bottom: 1em;
          font-size: 85%;
        }

        dd {
          font-size: 70%;
          background: $white;
          padding: 1.3em;
          border-radius: 0.2em;
          margin-bottom: 0.3em;
        }
      }

      dl.map-pin dd {
        background: $white url(../img/sdg17-pin.svg) no-repeat 1em 50%;
        background-size: 2.1em 2.1em;
        padding-left: 4em;
      }
    }
  }

  //
  // Part 3
  //
  &__part-3 {
  }

  //
  // Part 4
  //
  &__part-4 {
  }

  //
  // Footer
  //
  &__part-footer {
  }
}

/* X
   --------------------------------------------------------------------------- */

/* X
   --------------------------------------------------------------------------- */
